*{margin: 0; padding: 0;}

.noticias {
    display: flex;
    flex-direction: column;
}

/* Slider de noticias */

.slider{
    margin: 0 auto;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
}

.slides{
    width: 100vw;
    height: 70vh;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 100%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100vw;
    height: 80vh;
}

.slide h3{
    font-family: 'Secular One', sans-serif;
    color: #FFE81F;
    font-size: 30px;
    padding: 7px 5px;
    position: absolute;
    bottom: 30px;
    width: 50%;
    background-color:  rgb(15, 15, 15);
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
}

.slide h3:hover{
    text-decoration:underline;
}

.manual_navegation{
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual_btn{
    border: 2px solid #FFE81F;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual_btn:not(:last-child){
    margin-right: 21px;
}

.manual_btn:hover{
    background-color: #FFE81F;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

.navegation_auto div{
    border: 2px solid #FFE81F;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegation_auto{
    position: absolute;
    width: 100vw;
    margin-top: 39px;
    display: flex;
    justify-content: center;
}

.navegation_auto div:not(:last-child){
    margin-right: 32.9px;
}

#radio1:checked ~ .navegation_auto .auto_btn1{
    background-color: #FFE81F;
}

#radio2:checked ~ .navegation_auto .auto_btn2{
    background-color: #FFE81F;
}

#radio3:checked ~ .navegation_auto .auto_btn3{
    background-color: #FFE81F;
}

/* Fim Slider de noticias */

/*
Configuração das noticias
*/

.linha1 {
    width: 100vw;
    height: 50vh;
    border-left: 10px;
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
}

.linha2 {
    width: 100vw;
    height: 50vh;
    border-right: 10px;
    display: flex;
    justify-content: space-evenly;  
    backdrop-filter: blur(10px);
}

.linha3 {
    width: 100vw;
    height: 50vh;
    border-right: 10px;
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
}

.linha4 {
    width: 100vw;
    height: 50vh;
    border-right: 10px;
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
}

.bloco_noticias1 {
    margin-top: 10px;
    padding: 30px;
    width: 600px;
    display: flex;
    align-items: center;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;

}

.bloco_noticias1 img {
    width: 20vw;
    height: 30vh;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.bloco_noticias1 a {
    font-family: 'Secular One', sans-serif;
    color: #FFE81F;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.bloco_noticias1 h3:hover{
    text-decoration: underline;
    color: #FFE81F;
}

.bloco_noticias2 {
    margin-top: 10px;
    padding: 30px;
    width: 600px;
    display: flex;
    align-items: center;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
}

.bloco_noticias2 img {
    width: 20vw;
    height: 30vh;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.bloco_noticias2 a {
    font-family: 'Secular One', sans-serif;
    color: #FFE81F;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.bloco_noticias2 h3:hover{
    text-decoration: underline;
    color: #FFE81F;
}

.bloco_noticias3 {
    margin-top: 15px;
    padding: 30px;
    width: 600px;
    display: flex;
    align-items: center;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;

}

.bloco_noticias3 img {
    width: 20vw;
    height: 30vh;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.bloco_noticias3 a {
    font-family: 'Secular One', sans-serif;
    color: #FFE81F;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.bloco_noticias3 h3:hover{
    text-decoration: underline;
    color: #FFE81F;
}

.bloco_noticias4 {
    margin-top: 15px;
    padding: 30px;
    width: 600px;
    display: flex;
    align-items: center;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    margin-bottom: 10px;
}

.bloco_noticias4 img {
    width: 20vw;
    height: 30vh;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.bloco_noticias4 a {
    font-family: 'Secular One', sans-serif;
    color: #FFE81F;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.bloco_noticias4 h3:hover{
    text-decoration: underline;
    color: #FFE81F;
}

/*
Campo votação!
*/

.votacao{
    margin-top: 15px;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 25vw;
    backdrop-filter: blur(10px);
}

.titulo{
    color: #FFE81F;
    font-family:  'Secular One', sans-serif;
    font-weight: bold;
}

.campos{
    display: flex;
}

.campos h3{
    color: #FFE81F;
    font-family:  'Secular One', sans-serif;
    font-weight: bold;
}

.campos img{
    width: 25vw;
    height: 35vh;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.campos h4{
    color: #FFE81F;
    font-family:  'Secular One', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
    margin-left: 5px;
}

/* Fim Campo Votação */